# Assignment 1 Questions

###   Problem Statement

Q.1 Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3000 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

Q.2 Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

Q.3 Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r**3

Q.4 Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

Q.5 Create the below pattern using nested for loop in Python.

    *
    * *
    * * *
    * * * *
    * * * * *
    * * * *
    * * *
    * *
    *

Q.6 Split a string into a list:

Q.7 Create a string from a list of strings:

Q.8 Write a Python program to reverse a word after accepting the input from the user.

    Sample Output:
    Input word: global
    Output: labolg

Q.9 Write a Python Program to print the given string in the format specified in the sample output.
           WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
           SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
           its citizens
           
           
           Sample Output:
                        WE, THE PEOPLE OF INDIA,
                                having solemnly resolved to constitute India into a SOVEREIGN, !
                                SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
                                and to secure to all its citizens

Q.10 With a given integral number n, write a program to generate a dictionary that contains (i, i x i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.Suppose the following input is supplied to the program: 8

Then, the output should be:

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### Great Job!

In [1]:
#Answer number 1 
list1=[]
for x in range(2000,3001):    
    if(x%7==0 and x%5!=0):  
        list1.append(x)       
print(list1)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996]

In [4]:
# Answer number 2
fname=input('Enter first name:')
lname=input('Enter last name:')
fname=fname[: : -1]
lname=lname[: : -1]
x=fname+" "+lname
x

Enter first name:amit
Enter last name:kumar

'tima ramuk'

In [7]:
#Answer number 3
d=12
r=d/2
v=4/3 * 3.14 * r**3
print('Volume of sphere is {}'.format(v))

Volume of sphere is 904.3199999999999

In [14]:
#Answer number 4
list=[]
num=input('enter numbers using comma seperately:')
list=(num.split())
print(list)

enter numbers using comma seperately:10,20,30
['10,20,30']

In [45]:
for i in range(1,6):
    for j in range(1,i+1):
         print(' *',end=' ')
    print('\n')
    
for i in range (5,1,-1):
    for j in range(1, i):
        print(" *", end=' ')
    print('\n')

 *

 *  *

 *  *  *

 *  *  *  *

 *  *  *  *  *

 *  *  *  *

 *  *  *

 *  *

 *

In [16]:
#Answer number 10
dict={}
n=int(input('enter a number:'))
for i in range(1,n+1):
    dict={i,i*i}    
    print(dict,end=' ')

enter a number:8
{1} {2, 4} {9, 3} {16, 4} {25, 5} {36, 6} {49, 7} {64, 8}